
.card-details{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    min-width: 95%;
    max-width: 95%;
    min-height: 90%;
    justify-self: center;
    align-items: center;
    background-color: #181818;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    z-index: 10;
    border-radius: 0.5rem;
    display: flex ;
}
.card-details-container{
    
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

.top{
    position: relative;
    min-width: 100%;
    max-height: 50%;
    background: #000;
}
.top svg{
    font-size: x-large;
    cursor: pointer;
    position: absolute;
    top: 7%;
    right: 3%;
    z-index: 99;
}
.bottom{
    position: relative;
    min-width: 100%;
    min-height: 50%;
    
}
.top .gradient:hover{
    display: none;
}
.top .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(0deg, rgba(20, 20, 20, 2), rgba(20, 20, 20, 0.1), rgba(255, 255, 255, 0));
    height: 50%;
    transition: 1s ease-in-out;
    
}
.bottom .gradient{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(180deg, rgba(20, 20, 20, 2), rgba(20, 20, 20, 0.1), rgba(255, 255, 255, 0));
    height: 100%;
    transition: 1s ease-in-out;
}

.bottom .title{
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
    
} 
.bottom .title .card-title {
    width:60%;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    text-align: left;
    color: #f4f4f4;
    padding: 1rem;
    z-index: 15;
}
.bottom .title .release-date{
    opacity: 0.7;
    padding: 1.5rem;
    text-align: right;
    font-size: 1%;
}
.bottom .title .release-date span{
    font-style: italic;
    margin-right: 0.5rem;
}
.bottom .description{
    width: 70%;
    text-align: left;
    padding: 1rem;
    padding-top: 0;
}
.cast{
    display: grid;
    grid-template-columns: repeat(auto-fit,150px);
    justify-content: center;
    z-index: 100;
    max-height: 45vh;
    overflow-y: scroll;
}
.bottom ::-webkit-scrollbar{
    display: none;
    
}
.cast img{
    max-width: 150px;
    padding: 1rem;
    padding-bottom: 0;
}
small{
    opacity: 0.7;
}
.other-trailers{
    min-width: 100%;
    padding: 0rem 3rem;
    display: flex;
    justify-content: center;
}
.more-videos{
    font-size: x-small;
    padding: 3rem ;
    cursor: pointer;
}

.trailer-img{
    max-width: 150px;
    object-fit: contain;
    padding: 1rem;
}





















@media screen and (max-width:800px) {
    .other-trailers{
        padding: 0 1rem;
}
    .card-details{
        position: absolute;
        top: 2.5%;
        left: 2.5%;
        min-width: 95%;
        max-width: 95%;
        min-height: 95%;
        background-color: #181818;
        box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
        z-index: 10;
        border-radius: 0.5rem;
        display: none ;
    }
    .card-details-container{
        
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 100%;
    }
    
    .top{
        position: relative;
        min-width: 100%;
        max-height: 50%;
        background: #000;
    }
    .top svg{
        font-size: 2.2rem;
        cursor: pointer;
        position: absolute;
        top: 3%;
        right: 3%;
        z-index: 199;
    }
    .bottom{
        position: relative;
        min-width: 100%;
        min-height: 50%;
        
    }
    .top .gradient:hover{
        display: none;
    }
    .top .gradient {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        background: linear-gradient(0deg, rgba(20, 20, 20, 2), rgba(20, 20, 20, 0.1), rgba(255, 255, 255, 0));
        height: 50%;
        transition: 1s ease-in-out;
        
    }
    .bottom .gradient{
        position: absolute;
        top: 0;
        width: 100%;
        background-color: transparent;
        background: linear-gradient(180deg, rgba(20, 20, 20, 2), rgba(20, 20, 20, 0.1), rgba(255, 255, 255, 0));
        height: 100%;
        transition: 1s ease-in-out;
    }
    
    .bottom .title{
        
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
       
        
    } 
    .bottom .title .card-title {
        width:60%;
        font-size: 3rem;
        text-transform: uppercase;
        font-family: 'Bebas Neue';
        text-align: left;
        color: #f4f4f4;
        padding: 1rem;
        z-index: 15;
    }
    .bottom .title .release-date{
        opacity: 0.7;
        padding: 1.5rem;
        text-align: right;
        font-size: 1%;
    }
    .bottom .title .release-date span{
        font-style: italic;
        margin-right: 0.5rem;
    }
    .bottom .description{
        width: 70%;
        text-align: left;
        padding: 1rem;
        padding-top: 0;
    }
    .cast{
        display: grid;
        grid-template-columns: repeat(auto-fit,150px);
        justify-content: center;
        z-index: 100;
        max-height: 45vh;
        overflow-y: scroll;
    }
    .bottom ::-webkit-scrollbar{
        display: none;
        
    }
    .cast img{
        max-width: 150px;
        padding: 1rem;
        padding-bottom: 0;
    }
    small{
        opacity: 0.7;
    }
}